.time-section {
	background-color:white;
		padding:30px;
			max-width:800px;
			margin:0 auto;

}
.time {
	color: #F5333F;
	padding-bottom:30px;

	ul {
		margin: 0;
		li {
			display: inline-block;
			font-size: 1.5em;
			list-style-type: none;
			padding: 1em;
			color: #ccc;
			text-transform: lowercase;
			span{
				color: #4f4f6f;
				font-weight: bold;
			}
		}
	}

	h1 {
		font-size: 4em; 
		margin:0;
		color:#ccc;
	}
	p {
		color: #F5333F;
		margin:0;
		font-size: 16pt;
	}
}
.time-nrs {
			display: inline-block;

}


li span {
    display: block;
    font-size: 4.5rem;
  }