@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

.blood-rectangle{
	position:relative;
    top: -80px;
	display:inline-block;
	margin:10px;
	background-color: white;
	border:1px solid grey;
	border-radius:5%;
	width:80px;
	height:100px;
	-webkit-box-shadow: -2px 15px 27px -5px rgba(0,0,0,0.22);
	-moz-box-shadow: -2px 15px 27px -5px rgba(0,0,0,0.22);
	box-shadow: -2px 15px 27px -5px rgba(0,0,0,0.22);
	h1 {
		font-size:2em;
		margin:10px 0;
	}
	p {
		font-size: 1em;
	}
}