#header {
    background-image: url(/assets/images/bg.png);
    background-position: top center;
    background-size: cover;
    display: inline-block;
    position: absolute;
    height: 150px;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 120px;
    content: '';

    h2 {
        color:#fff;
    }
    .user {
        .user-avatar {
            width: 100px;
            height: 100px;
        }
        h1, span {
            color: #fff;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0 auto;
        }
        p {
            margin: 0;
        }
    }
}