
.auth-box{
	display: inline-block;
	width: calc(100% - 100px);
	text-align: center;
	background: #fff;
	max-width: 460px;
	padding: 50px;

	@media only screen and (max-width: 460px) {
		width: calc(100% - 50px);
		padding: 25px;
	}


	-webkit-box-shadow: 0px 10px 37px -22px rgba(0,0,0,0.53);
	-moz-box-shadow: 0px 10px 37px -22px rgba(0,0,0,0.53);
	box-shadow: 0px 10px 37px -22px rgba(0,0,0,0.53);

	h2{
		display: inline-block;
		text-align: center;
		font-size: 2.5em;
		color: #F5333F;

		width: 100%;
		margin: 0;

		@media only screen and (max-width: 570px) {
			font-size: 2em;
		}
	}

	> p{
		display: inline-block;
		font-size: 21px;
		max-width: 500px;
		padding: 0 25px;

		@media only screen and (max-width: 570px) {
			font-size: 16px;
		}
	}

	form{
		display: inline-block;
		max-width: 420px;
		margin-top: 50px;
		width: 100%;

		@media only screen and (max-width: 570px) {
			margin-top: 25px;
		}

		label{
			display: inline-block;
			margin-bottom: 15px;
			width: 100%;
			float: left;

			input{
				display: inline-block;
				padding: 15px 0;
				font-size: 16px;
				outline: none;
				border: none;
				width: 100%;

				border-bottom: 1px solid #ddd;
			}

			span.error{
				display: none;
			}

			&.has-error{
				input, select{
					border-color: red;
				}

				span.error{
					display: inline-block;
					text-align: left;
					margin-top: 5px;
					width: 100%;
					color: red;

					i{
						display: inline-block;
						text-align: center;
						position: relative;
						margin-right: 5px;
						font-size: 16px;
						color: inherit;
						top: 2px;
					}
				}
			}

			&.checkbox{
				width: auto;

				input{
					margin-right: 10px;
					position: relative;
					width: auto;
					float: left;
					top: 3px;
				}

				p{
					width: auto;
					float: left;
					margin: 0;
				}
			}
		}

		button{
			font-family: 'Poppins', sans-serif;
			text-decoration: none;
			background: none;
			cursor: pointer;
			outline: none;
			border: none;
			float: right;
			color: #000;

			&:hover{
				// text-decoration: underline;
			}

			&.go-back{
				display: inline-block;
				text-align: center;
				margin-top: 15px;
				float: left;

				&:hover{
					text-decoration: none;
				}

				i{
					position: relative;
					font-size: 16px;
					top: 2px;
				}
			}
		}

		button[type="submit"]{
			font-family: 'Poppins', sans-serif;
			transition: all 0.5s ease;
			display: inline-block;
			background: #F5333F;
			cursor: pointer;
			outline: none;
			padding: 15px;
			border: none;
			width: 100%;

			text-transform: uppercase;
			font-weight: bold;
			margin-top: 25px;
			font-size: 21px;
			color: #fff;

			&:hover{
				background: darken(#F5333F, 10%);
			}
		}
	}

	.success-message{
		i{
			background: rgba(0,0,0, 0.02);
			font-size: 75px;
			margin: 50px 0;
			padding: 25px;
			color: red;

			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radus: 50%;
		}
	}
}