@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');


.App {

  font-family: 'Poppins', sans-serif;
  text-align: center;

  &:before{
    background-image: url(/assets/images/bg.png);
    background-position: top center;
    background-size: cover;
    
    display: inline-block;
    position: absolute;
    height: 350px;
    width: 100%;
    z-index: -1;

    left: 0;
    top: 0;

    content: '';
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

::-moz-selection {
       background-color: #f3313f;
       color: #fff;
}

/* Works in Safari */
::selection {
       background-color: #f3313f;
       color: #fff;
}

button {
  cursor: pointer;
}