.App {
  text-align: center;
  background-image: url(/assets/images/bg.png);
  background-position: top center;
  background-size: cover;

}

.App-logo {

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

::-moz-selection {
       background-color: #f3313f;
       color: #fff;
}

/* Works in Safari */
::selection {
       background-color: #f3313f;
       color: #fff;
}