@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

.auth-box{
	display: inline-block;
	background: #fff;
	padding: 25px;
	width: calc(100% - 50px);

	h2{
		display: inline-block;
		text-align: center;
		font-size: 2.5em;
		color: #F5333F;

		width: 100%;
		margin: 0;
	}
}